.ListadoFacturas{
  border-collapse: collapse;
  padding: 0;
  background-color: #f9f9f9;
}

.ListadoFacturas td,.ListadoFacturas th{
  font-size: 16px;
  padding: 16px 20px;
  text-align: center;
}
.ListadoFacturas tr:nth-child(even){
  background-color: #FFFFFF;
}

.ListadoFacturas th {
    font-size: 18px;
    background-color: #ff4335;
    color: white;
}
.btnEnviar{
  background-color: #f9f9f9;
  color: #ff4335;
  font-size: 16px;
  padding: 16px 80px;
  border: none;
  display: block;
}
.btnEnviar:hover{
  background-color: #ff4335;
  color: #ffffff;
}
.imgABM{
  width: 30px;
}

.ListadoFacturas .facturaExpirada{
  background-color: RED;
}

.filtro{
  padding: 8px 0px 8px 10px;
  font-size: 18px;
  border: none;
  background-color: #4C4C4C;
  color: #FFFFFF;
  font-family: PT_Sans;
}
.formUsuario input:focus{
  background-color: #FFFFFF;
  color: #DC143C;
}
::placeholder {
  color: #FFFFFF;
  opacity: 1;
}
:focus::placeholder {
  color: #ff4335;
  opacity: 1;
}
.txttEmailTodosEmpleados
{
  background-color: #4C4C4C;
  color: white;
  font-size: 16px;
  opacity: 0.8;
  width: 400px;
  height: 200px;
  padding: 10px;
  display: block;
}
